body {
    background: #76B952;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    
    background-color: white;
}

input{
    background-color: #F2F2F2 !important;
}
.login-btn{
    background-color: #76B952;
    color: white;
}

.main-box{
   -webkit-box-shadow: 0px 0px 6px 3px #000000; 
box-shadow: 0px 0px 6px 3px #000000;

}