* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: #fff;
}

.gmail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.gmail-header {
    display: flex;
    text-align: center;
    padding: 8px 12px;
    height: 61px;
    background: #F8FAFD;
}

.header-search {
    max-width: 500px;
    background: #E9EEF6;
    border: 0px solid black;
    border-radius: 50px;
}

/* ======side bar css=== */
.compose-btn {
    background: #C2E7FF;
    border: none !important;
    height: 55px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: ba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    color: #202124 !important;
}

.sidebar {
    padding: 9px;
    background: #F8FAFD;
}

.compose-btn:hover {
    background: #C2E7FF;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15) !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav {
    padding-left: 10px;
}

.nav-item {
    padding: 10px 24px 0 20px !important;
    height: 32px;
    border-radius: 15px;
    font-size: 16px;
    color: #202124;
    margin: 2px 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.email-list {
    background: #fff;

}

.email-row {
    height: 45px;
    cursor: pointer;
}